Source: perfsonar-archive
Maintainer: perfSONAR developers <debian@perfsonar.net>
Section: misc
Priority: optional
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 10)
Homepage: http://www.perfsonar.net

Package: perfsonar-archive
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, opendistroforelasticsearch, openjdk-11-jdk, openssl, jq, python3, perfsonar-logstash, perfsonar-elmond, curl
Description: Perfsonar measurement archive
 Perfsonar archive using Amazon Opendistro to store measurements.
